/* Font style */
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light'), local('OpenSans-Light'), url('opensanslight.woff2') format('woff2'), url('opensanslight.woff') format('woff'), url('opensanslight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url('opensanslightitalic.woff2') format('woff2'), url('opensanslightitalic.woff') format('woff'), url('opensanslightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), local('OpenSans'), url('opensans.woff2') format('woff2'), url('opensans.woff') format('woff'), url('opensans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url('opensansitalic.woff2') format('woff2'), url('opensansitalic.woff') format('woff'), url('opensansitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('opensanssemibold.woff2') format('woff2'), url('opensanssemibold.woff') format('woff'), url('opensanssemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url('opensanssemibolditalic.woff2') format('woff2'), url('opensanssemibolditalic.woff') format('woff'), url('opensanssemibolditalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('opensansbold.woff2') format('woff2'), url('opensansbold.woff') format('woff'), url('opensansbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url('opensansbolditalic.woff2') format('woff2'), url('opensansbolditalic.woff') format('woff'), url('opensansbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url('opensansextrabold.woff2') format('woff2'), url('opensansextrabold.woff') format('woff'), url('opensansextrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'), url('opensansextrabolditalic.woff2') format('woff2'), url('opensansextrabolditalic.woff') format('woff'), url('opensansextrabolditalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Raleway';
    src: local('Raleway Light'), local('Raleway-Light'), url('ralewaylight.woff2') format('woff2'), url('ralewaylight.woff') format('woff'), url('ralewaylight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: local('Raleway Regular'), local('Raleway-Regular'), url('ralewayregular.woff2') format('woff2'), url('ralewayregular.woff') format('woff'), url('ralewayregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* CSS variables */
:root {
	--body-color: #808080;
	--base-color: #ffffff;
	--additional-color: #000000;
	--block-color: #f5f5f5;
	--active-color: #ff8b38;
	--form-color: rgba(189, 189, 189, 0.6);
	--focus-color: #999999;
	--text-color: #86878b;
	--div-color: #333333;
	--title-color: #212121;
}

/* Common style */
body {
	background: var(--body-color);
	font-family: 'Open Sans', arial;
	color: var(--text-color);
}

a {
	text-decoration: none;
	transition: all 0.3s ease;
}

.wrapper {
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
}

/* Button style */
.button {
	display: inline-block;
    height: 27px;
    border: 2px solid var(--base-color);
    color: var(--base-color);
    font-size: 15px;
    font-weight: 600;
    padding: 11px 30px 0;
    transition: all 0.4s;
}

.button:hover {
	background-color: var(--active-color);
	border-color: var(--active-color);
}

.button_tabs-style {
	background-color: var(--active-color);
	border: none;
	margin-top: 23px;
	height: 31px;
	padding: 15px 25px 0;
	border-radius: 4px;
	box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.4);
}

.button_tabs-style:active {
	box-shadow: inset 0 4px 3px -2px rgba(0, 0, 0, 0.4);
}

/* Header style */
.header {
	height: 72px;
	background-color: var(--additional-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo__link {
	width: 79px;
	height: 27px;
	display: block;
	background: url(../img/logo_min.png) 0 0 no-repeat;
	margin-left: 150px;
}

/* Menu style */
.menu__item {
	display: inline-block;
	list-style: none;
}

.menu__link {
	color: var(--base-color);
	margin-right: 47px;
	font-size: 14px;
}

.menu__link:hover {
	color: var(--active-color);
}

.menu__link_right {
	margin-right: 148px;
}

/* Banner style */
.banner {
	height: 531px;
	background: url(../img/buildings.png) 50% 40% no-repeat, rgba(0, 0, 0, 0.5);
	background-blend-mode: darken;
	background-size: cover;
	padding-top: 110px;
}

.banner__wrap {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin: 0 150px;
}

/* Heading style */
.heading {
	flex: 1;
}

.heading__logo {
	width: 175px;
	height: 60px;
	background: url(../img/logo_max.png) 0 0 no-repeat;
}

.heading__title {
	margin-top: 25px;
	margin-bottom: 35px;
	font-family: 'Raleway';
	font-size: 36px;
	line-height: 42px;
	font-weight: 100;
	text-transform: uppercase;
	color: var(--base-color);
}

.heading__title::after {
	content: '';
	display: block;
	width: 66px;
	height: 2px;
	background-color: var(--base-color);
	margin: 34px 0 0 3px;
}

.description {
	font-family: 'Raleway';
	font-size: 16px;
	line-height: 23px;
	font-weight: 100;
	color: var(--base-color);
	margin-bottom: 39px;
}

/* Authentication style */
.authentication {
	width: 360px;
	margin-top: 29px;
	margin-left: 225px;
	background-color: var(--base-color);
	border-radius: 4px;
}

.authentication__title {
	color: #333333;
	text-align: center;
	background-color: var(--block-color);
	font-size: 1.4em;
    line-height: 2.45em;
    margin: 0;
    border-radius: 4px 4px 0 0;
}

.authentication__letter-color {
	color: var(--active-color);
}

.authentication__form {
	display: flex;
	flex-direction: column;
	margin: 29px 37px 0 38px;
}

.authentication__input {
	width: 271px;
	height: 30px;
	border: none;
	border-bottom: 1px solid var(--form-color);
	font-size: 14px;
	margin-bottom: 36px;
	padding: 0 0 0 14px;
}

.authentication__input::placeholder {
	color: var(--form-color);
}

.authentication__input:focus {
    outline-color: transparent;
	border-bottom: 1px solid var(--focus-color);
}

.authentication__input_mail {
	margin-bottom: 47px;
}

.authentication__input_btn {
	width: 360px;
	height: 54px;
	margin: 0;
	padding: 0;
	margin-left: -38px;
	background-color: var(--active-color);
	border: none;
	color: var(--base-color);
	font-size: 15px;
	font-weight: 600;
	border-radius: 0 0 4px 4px;
	margin-top: 13px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.authentication__input_btn:hover {
	font-size: 17px;
}

/* Social style */
.social {
	height: 83px;
	background-color: var(--base-color);
	padding-top: 20px;
}

.social__wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 167px 0 152px;
}

.social-info__title {
	color: #333333;
	font-size: 20px;
	font-weight: 700;
	margin: 0 0 5px;
}

.social-info__text {
	color: var(--text-color);
	font-size: 14px;
	line-height: 19px;
	letter-spacing: 0.025em;
	margin: 0;
}

.social-icons {
	display: flex;
	margin-left: 51px;
}

.social-icons__link {
	display: inline-block;
	color: #cccccc;
	font-size: 46px;
	line-height: 38px;
	margin-right: 56px;
}

.social-icons__link:hover {
	color: var(--active-color);
}

.social-icons__link_no-margin {
	margin-right: 0;
}

/* Tabs style */
.tabs {
	height: 448px;
	padding-top: 147px;
	background-color: var(--block-color);
	box-shadow: inset 0 5px 6px -6px rgba(0, 0, 0, 0.9);
}

.tabs__wrap {
	display: flex;
	align-items: flex-start;
	margin: 0 148px 0 142px;
}

.tabs__btn {
	width: 112px;
	height: 111px;
	background-color: var(--div-color);
	color: var(--base-color);
	font-size: 15px;
	line-height: 110px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	border-bottom: 1px solid var(--block-color);
	cursor: pointer;
}

.tabs__btn_upper-radius {
	border-radius: 4px 4px 0 0;
}

.tabs__btn_lower-radius {
	border-radius: 0 0 4px 4px;
}

.tabs__btn_no-border {
	border-bottom: none;
}

.tabs__btn_active {
	background-color: var(--active-color);
}

.tabs__case {
	margin-left: 100px;
}

.tabs__page {
	display: none;
}

.tabs__page_active {
	display: flex;
}

.tabs__info {
	flex: 1;
}

.tabs__title {
	font-size: 20px;
	color: var(--additional-color);
	margin-top: 8px;
	margin-bottom: 46px;
}

.tabs__text {
	font-size: 14px;
	line-height: 21px;
	color: var(--text-color);
	margin-bottom: 20px;
}

.tabs__image {
	margin-top: 25px;
	margin-left: 103px;
}

.tabs__img {
	display: block;
	max-width: 100%;
}

/* Sub list section */
.sub-list {
	height: 485px;
	padding-top: 111px;
	background-color: var(--base-color);
}

.sub-list__wrap {
	display: flex;
	align-items: flex-start;
	margin: 0 168px 0 116px;
}

.picture {
	margin-right: 158px;
}

.content__title {
	margin-top: -4px;
	font-size: 20px;
	line-height: 17px;
	color: var(--title-color);
	letter-spacing: 0.02em;
}

.content__title::after {
	content: '';
	display: block;
	width: 64px;
	height: 2px;
	background-color: var(--active-color);
	margin: 28px 0 0 0;
}

.content__text {
	margin-top: 27px;
	margin-bottom: 45px;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.025em;
	color: var(--text-color);
}

.note {
	display: flex;
}

.note__icon {
	width: 36px;
	height: 36px;
	flex: none;
	border: 2px solid var(--active-color);
	border-radius: 50%;
	background: url(../img/cloud_up.svg) center center no-repeat;
	margin-right: 30px;
}

.note__icon_alternative-background {
	background: url(../img/cloud_down.svg) center center no-repeat;
}

.note__title {
	font-size: 14px;
	line-height: 12px;
	color: var(--title-color);
	margin-top: 0;
	margin-bottom: 0;
}

.note__text {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.02em;
	color: var(--text-color);
	margin-top: 8px;
	margin-bottom: 38px;
}

/* Standard style */
.standard {
	height: 449px;
	padding-top: 75px;
	background-color: var(--block-color);
}

.standard__wrap {
	display: flex;
	align-items: flex-start;
	margin: 0 89px 0 152px;
}

.content_top-margin {
	margin-top: 36px;
}

.picture__left-margin {
	margin-right: 0;
	margin-left: 161px;
}

.content__text_bottom-margin {
	margin-bottom: 0;
}

.content__text_unit-modification {
	margin-top: 20px;
	letter-spacing: 0.023em;
}

/* Footer style */

/* Media queries 