/* Font style */
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light'), local('OpenSans-Light'), url('opensanslight.woff2') format('woff2'), url('opensanslight.woff') format('woff'), url('opensanslight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url('opensanslightitalic.woff2') format('woff2'), url('opensanslightitalic.woff') format('woff'), url('opensanslightitalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), local('OpenSans'), url('opensans.woff2') format('woff2'), url('opensans.woff') format('woff'), url('opensans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url('opensansitalic.woff2') format('woff2'), url('opensansitalic.woff') format('woff'), url('opensansitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('opensanssemibold.woff2') format('woff2'), url('opensanssemibold.woff') format('woff'), url('opensanssemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url('opensanssemibolditalic.woff2') format('woff2'), url('opensanssemibolditalic.woff') format('woff'), url('opensanssemibolditalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('opensansbold.woff2') format('woff2'), url('opensansbold.woff') format('woff'), url('opensansbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url('opensansbolditalic.woff2') format('woff2'), url('opensansbolditalic.woff') format('woff'), url('opensansbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url('opensansextrabold.woff2') format('woff2'), url('opensansextrabold.woff') format('woff'), url('opensansextrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: local('Open Sans Extrabold Italic'), local('OpenSans-ExtraboldItalic'), url('opensansextrabolditalic.woff2') format('woff2'), url('opensansextrabolditalic.woff') format('woff'), url('opensansextrabolditalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Raleway';
    src: local('Raleway Light'), local('Raleway-Light'), url('ralewaylight.woff2') format('woff2'), url('ralewaylight.woff') format('woff'), url('ralewaylight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: local('Raleway Regular'), local('Raleway-Regular'), url('ralewayregular.woff2') format('woff2'), url('ralewayregular.woff') format('woff'), url('ralewayregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* CSS variables */
:root {
	--base-color: #000000;
	--body-color: #808080;
	--text-color: #ffffff;
	--color-active: #ff8b38;

	/*--block-shadow: 0 0 10px 10px rgba(0, 0, 0, .2);
	--color-visit: #9b59b6;
	--color-hover: #fffffc;
	--header-hover: #c53131;*/
}
/*box-shadow: var(--block-shadow);*/
/*border: 1px solid var(--border-color);*/
/*.header__link:link {
	color: var(--color-base);
}

.header__link:visited {
	color: var(--color-visit);
}

.header__link:hover {
	color: var(--header-hover);
}

.header__link:active {
	color: var(--color-active);
}
Может быть сделать сниппет
*/

/* Common style */
body {
	background: var(--body-color);
	font-family: 'Open Sans', arial;
	color: var(--text-color);
}

a {
	text-decoration: none;
	transition: all 0.3s ease;
}

.wrapper {
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
}

/* Header style */
.header {
	height: 72px;
	background-color: var(--base-color);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo__link {
	width: 79px;
	height: 27px;
	display: block;
	background: url(../img/logo_min.png) 0 0 no-repeat;
	margin-left: 150px;
}

/* Menu style */
.menu__item {
	display: inline-block;
	list-style: none;
}

.menu__link {
	color: var(--text-color);
	margin-right: 47px;
	font-size: 14px;
}

.menu__link:hover {
	color: var(--color-active);
}

.menu__link_right {
	margin-right: 148px;
}

/* Banner style */
.banner {
	height: 531px;
	background: url(../img/buildings.png) 50% 40% no-repeat;
	background-size: cover;
	padding-top: 110px;
}

.banner__wrap {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin: 0 150px;
}

.heading {
	flex: 1;
}

.heading__logo {
	width: 175px;
	height: 60px;
	background: url(../img/logo_max.png) 0 0 no-repeat;
}

.heading__title {
	margin-top: 25px;
	margin-bottom: 35px;
	font-family: 'Raleway';
	font-size: 36px;
	line-height: 42px;
	font-weight: 100;
	text-transform: uppercase;
}

.heading__title::after {
	content: '';
	display: block;
	width: 66px;
	height: 2px;
	background-color: #fff;
	margin: 34px 0 0 3px;
}

.description {
	font-family: 'Raleway';
	font-size: 16px;
	line-height: 23px;
	font-weight: 100;
	margin-bottom: 39px;
}

.button {
	display: inline-block;
    height: 27px;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    padding: 11px 30px 0;
    transition: all 0.4s;
}

.button:hover {
	background-color: var(--color-active);
	border-color: var(--color-active);
}

.authentication {
	width: 360px;
	margin-top: 29px;
	margin-left: 225px;
	background-color: #ffffff;
	border-radius: 4px;
}

.authentication__title {
	color: #333333;
	text-align: center;
	background-color: #f5f5f5;
	font-size: 1.4em;
    line-height: 2.45em;
    margin: 0;
    border-radius: 4px 4px 0 0;
}

.authentication__letter-color {
	color: var(--color-active);
}

.authentication__form {
	display: flex;
	flex-direction: column;
	margin: 29px 37px 0 38px;
}

.authentication__input {
	width: 271px;
	height: 30px;
	border: none;
	border-bottom: 1px solid rgba(189, 189, 189, 0.6);
	font-size: 14px;
	margin-bottom: 36px;
	padding: 0 0 0 14px;
}

.authentication__input::placeholder {
	color: rgba(189, 189, 189, 0.6);
}

.authentication__input:focus {
    outline-color: transparent;
	border-bottom: 1px solid #999999;
}

.authentication__input_mail {
	margin-bottom: 47px;
}

.authentication__input_btn {
	width: 360px;
	height: 54px;
	margin: 0;
	padding: 0;
	margin-left: -38px;
	background-color: var(--color-active);
	border: none;
	color: var(--text-color);
	font-size: 15px;
	font-weight: 600;
	border-radius: 0 0 4px 4px;
	margin-top: 13px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.authentication__input_btn:hover {
	font-size: 17px;
}

svg path {
	fill: red;
}

.social-icons__link:hover > svg path {
	fill: green;
}
/* Footer style */

/* Media queries 